<div class="container">
  <div class="container-search">
    <tui-input class="input-search" [(ngModel)]="searchValue" (input)="onSearchChange()"
      tuiTextfieldSize="m" [tuiTextfieldCleaner]="true" [tuiTextfieldLabelOutside]="true">
      Search
    </tui-input>
  </div>
  <div class="top">
    <div class="select_price">
      <select class="sl_price" (change)="onSortOrderChange($event)">
        <option value="" disabled selected >Sort by price</option>
        <option value="desc">High to low</option>
        <option value="asc">Low to high</option>
      </select>
    </div>
    <div class="select_dish">
      <div *ngFor="let namedish of namedishs">
        <span class="name_dish" [ngClass]="{'active': namedish.isActice}" (click)="selectNamedish(namedish.nameCategory)">
          {{namedish.nameCategory}}
        </span>
      </div>
    </div>
  </div>
  <hr>

  <div class="menu">
    <div class="grid_dish" *ngFor="let dish of filteredDishes">
      <div class="dish">
        <div class="dish_img">
          <img class="image_featured" *ngFor="let img of dish.image.urls" [src]="img" alt="">
        </div>
        <div class="dish_info">
          <h3>{{dish.nameDish}}</h3>
          <div class="dish_price">
            <span>{{dish.price.toLocaleString("vn-de")}}</span>
          </div>
          <button class="btn btn-warning w-100" (click)="addtoCart(dish)">Add to cart</button>
          <a (click)="showDetail(dish)">Show detail</a>
        </div>
      </div>
    </div>
  </div>
</div>