<div class="container">
    <div tuiCarouselButtons class="wrapper">
        <button icon="tuiIconChevronLeftLarge" title="Previous" tuiIconButton type="button"
            (click)="carousel.prev()"></button>
        <tui-carousel #carousel class="carousel">
            <tui-island *tuiItem>
                <ng-container >
                    <div *ngFor="let dish of dishList">
                        <p *ngIf="dish.cId.cId ==='category_1'" id="content">{{dish.cId.nameCategory}}</p>
                        <ul>
                            <li >
                                <p class="dish_item">{{ dish.nameDish }}</p>
                                <p class="price">{{ dish.price }}</p>
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </tui-island>
                <tui-island *tuiItem>
                    <ng-container >
                        <div *ngFor="let dish of dishList">
                            <p *ngIf="dish.cId.cId ==='category_2'" id="content">{{dish.cId.nameCategory}}</p>
                            <ul>
                                <li >
                                    <p class="dish_item">{{ dish.nameDish }}</p>
                                    <p class="price">{{ dish.price }}</p>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                </tui-island>
                    <tui-island *tuiItem>
                        <ng-container >
                            <div *ngFor="let dish of dishList">
                                <p *ngIf="dish.cId.cId ==='category_3'" id="content">{{dish.cId.nameCategory}}</p>
                                <ul>
                                    <li >
                                        <p class="dish_item">{{ dish.nameDish }}</p>
                                        <p class="price">{{ dish.price }}</p>
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                    </tui-island>
            <tui-island *tuiItem>
                <tui-loader></tui-loader>
            </tui-island>
            <tui-island *tuiItem class="tui-island_text-align_center">
                <h2 class="tui-island__title">Failed to load</h2>
                <p>
                    <tui-marker-icon mode="error" src="tuiIconClose"></tui-marker-icon>
                </p>
            </tui-island>
        </tui-carousel>
        <button icon="tuiIconChevronRightLarge" title="Next" tuiIconButton type="button"
            (click)="carousel.next()"></button>
</div>
</div>
