
<div class="container">
    <img src="../../../../assets/image/login.png" >
    <div class="wrapper">
        <form action="#">
            <h2>LOGIN</h2>
            <div class="input-field">
                <input type="text" required>
                <label> Enter your email</label>
            </div>
            <div class="input-field">
                <input type="text" required>
                <label> Enter your password</label>
            </div>
            <div class="container_login">
                <button type="submit" (click)="loginWithAccount()"> Log In</button>
                <button class="loginwithgg" type="submit" (click)="loginWithGoogle()"> Login With Google</button>
            </div>
            <div class="text_donthave">
                <p> Don't have an account?
                    <a (click)="registerclick()">Register</a>
                </p>

            </div>

        </form>

    </div>
</div>