.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        width: 100%;
        height: 15%;
    }
    .main {
        width: 100%;
        height: 85%;
        background-color: rgb(250, 250, 250);
    }
}