.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
    .container-header {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        .title {
            font-size: 54px;
            font-weight: 100;
        }
    }

    .container-main {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        .main {
            width: 70%;
            height: 100%;
            background-color: white;
        }

        .input-location {
            height: auto;
            width: 200px;
        }
    }

        .palte {
            width: 200px;
            height: 100px;
            overflow: auto;

            .palte_box {
                display: block;
                width: 100%;
            }
        }
    
}