.rectangle_1 {
    position: relative;
    width: 100%;
    height: 900px;

    .background {
        width: 100vw;
        height: 900px;
        position: absolute; /* di chuyển nền vào giữa */
        top: 50%; /* căn nền theo chiều dọc */
        left: 50%; /* căn nền theo chiều ngang */
        transform: translate(-50%, -50%);
        
    }


}
.rectangle_1 .welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute; /* di chuyển văn bản vào giữa */
    top: 47%; /* căn văn bản theo chiều dọc */
    left: 25%; /* căn văn bản theo chiều ngang */
    transform: translate(-50%, -50%); /* dịch chuyển văn bản đi 50% của chính nó theo cả chiều ngang và dọc để căn giữa */
    color: black;
    .a {
        font-family: "Satisfy", cursive;
        font-size: 50px;
        // color: var(--tui-primary);
        color: black;
        padding: 0;
        margin: 0;
    }
    .b {
        font-size: 70px;
        font-weight: 600;
        // color: white;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .c {
        font-size: 25px;
        margin: 0.5rem;
        
    }
    .restaurant {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: var(--tui-primary);
    }
}

.btn_booking {
    display: flex;
    justify-content: center !important;
    margin-top: 2rem;
    
}
.table_booking {
    display: flex;
    text-align: center;

    width: auto;
    border-radius:5px;
    border: 2px solid white;
}

.rectangle_2 {
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon_1, .icon_2, .icon_3, .icon_4 {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem;
    }
    .icon {
        height: 150px;
        width: 150px;
    }
}
.container_slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider {
    width: 1300px;
    height: 900px;
    max-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    overflow-x: hidden;
    .list {
        height: 100%;
        display: flex;
        width: max-content;
    }
    .list img {
        width: 1300px;
        max-width: 100vw;
        height: 100%;
        object-fit: contain;
    }
  }

  .next {
    width: 50px;
    height: 50px;
    margin-bottom: 3rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(165, 1, 1, 0.333);
    color: rgb(48, 48, 48);
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
  }


.rectangle_4 {
    width: 100%;
    height: 500px;
    background-image: url(../../../../assets/image/happycustomer.jpg);
    display: flex; 
    flex-direction: column; 
    text-align: center; 

    h1 {
      color: black;
      margin-top: 5rem;
      margin-bottom: 3rem;
    }
    .happy {
        width: 100%;
        display: flex;
        justify-content: center;

        .text_happy {
            font-size: 16px;
            width: 600px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
        }
        .phay {
            font-size: 50px;
            margin-bottom: 5rem;
        }
    }

  }

.foot {
    width: 100%;
    height: 350px;
    background-color: var(--tui-background);
    padding: 40px 400px 40px 400px;
    display: flex;
    flex-direction: row;
    

    
    .title_foot {
        color:  white;
        font-size: 20px;
        font-weight: 600; 
        margin-bottom: 2rem; 
    }

    .bridge_foot {
        color:  white;
        font-size: 16px;
        
    }
    .pages_foot{
        color:  white;
        font-size: 16px;
        
        margin-bottom: 2rem; 
    }
    .opening_foot {
        color:  white;
        font-size: 16px;
       
    }
}



.dish_featured {
    margin-bottom: auto;
}