
<div class="container">
  <div class="row">
    <div class="carousel-container">
      <div class="carousel-track" [style.transform]="transformStyle">
        <div class="card example-1" *ngFor="let new of newList; let i = index">
          <div class="wrapper">
            <img *ngFor="let img of new.image.urls" [src]="img" alt="" class="image">
            <div class="date">
              <span class="day">{{ new.day }}</span>
              <span class="month">{{ new.month }}</span>
              <span class="year">{{ new.year }}</span>
            </div>
            <div class="data">
              <span class="news">{{ new.news }}</span>
              <h1 class="title"><a href="#">{{ new.title }}</a></h1>
              <p class="text">{{ new.text }}</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
