.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--tui-background);
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  .logo_img {
    width: 50px;
    height: 50px;
  }

  .name {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
}

.login {
  width: auto;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .material-symbols-outlined {
    font-size: 30px;
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 48;
  }
}

.select {
  width: 60%;
  height: 100%;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  position: relative;
}

button {
  height: 2rem;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 0 2rem;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: transparent;
  position: relative;

  &.selected::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--tui-primary);
  }
}

.profile {
  display: flex;
  height: 7%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;

  .profile_infor {
    display: flex;
    flex-direction: row;

    .profile_img {
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }

    .profile_info_box {
      h3 {
        margin: 0;
        font-weight: bold;
      }

      p {
        margin: 0;
        font-size: 0.75rem;
      }
    }
  }

  .profile_menu {
    font-size: 1.2rem;
  }

  .btn_login {
    margin: 0 auto;
    border-radius: 0.625rem;
    background-color: #4b60ee;
    cursor: pointer;

    p {
      margin: 0;
      font-size: 0.75rem;
      padding: 8px;
      color: white;
    }
  }
}
