<div class="container">
  <div class="container_payment">
    <div class="title">
      <div class="title_content">
        <span id="content_1">YOUR PAYMENT</span>
        <span id="content_2">Please enter your information and select your preferred payment method.</span>
      </div>
    </div>

    <div class="info">
      <form [formGroup]="addOrderForm">
        <div class="form-group">
          <label class="label-client">Reservation</label>
          <tui-input tuiTextfieldSize="m" class="form-control" formControlName="reservationId"
            [tuiTextfieldCleaner]="true" [readOnly]="true">
            Reservation Id
            <input tuiTextfield type="text" />
          </tui-input>
        </div>
        <!-- <div class="form-group">
          <label for="orderName">Reservation</label>
          <input type="text" class="form-control" formControlName="reservationId">
        </div> -->
        <div class="form-group">
          <label class="label-client">Table</label>
          <tui-input tuiTextfieldSize="m" class="form-control" formControlName="tableId"
            [tuiTextfieldCleaner]="true" [readOnly]="true">
            Table Id
            <input tuiTextfield type="text" />
          </tui-input>
          <!-- <label for="orderName">Table</label>
          <input type="text" class="form-control" formControlName="tableId"> -->
        </div>
        <div class="form-group">
          <label class="label-client">Name</label>
          <tui-input tuiTextfieldSize="m" class="form-control" formControlName="orderName"
            [tuiTextfieldCleaner]="true">
            Enter name
            <input tuiTextfield type="text" />
          </tui-input>
          <!-- <label for="orderName">Name</label>
          <input type="text" class="form-control" formControlName="orderName"> -->
        </div>
        <div class="form-group">
          <label class="label-client">Phone</label>
          <tui-input tuiTextfieldSize="m" class="form-control" formControlName="orderPhone"
            [tuiTextfieldCleaner]="true">
            Enter phone number
            <input tuiTextfield type="text" />
          </tui-input>
          <!-- <label for="orderPhone">Phone</label>
          <input type="text" class="form-control" formControlName="orderPhone"> -->
        </div>
        <div class="form-group">
          <label class="label-client">Address</label>
          <tui-input tuiTextfieldSize="m" class="form-control" formControlName="orderAddress"
            [tuiTextfieldCleaner]="true" >
            Enter address
            <input tuiTextfield type="text" />
          </tui-input>
          <!-- <label for="orderAddress">Address</label>
          <input type="text" class="form-control" formControlName="orderAddress"> -->
        </div>
        <div class="form-group">
          <label class="label-client">Email</label>
          <tui-input tuiTextfieldSize="m" class="form-control" formControlName="orderEmail"
            [tuiTextfieldCleaner]="true">
            Enter email
            <input tuiTextfield type="text" />
          </tui-input>
          <!-- <label for="orderEmail">Email</label>
          <input type="text" class="form-control" formControlName="orderEmail"> -->
        </div>
        <div class="form-group">
          <label class="label-client">Date</label>
        <tui-input-date class="form-control" tuiTextfieldSize="m" formControlName="orderDate">Date</tui-input-date>
          <!-- <label for="orderDate">Date</label>
          <input type="date" class="form-control" formControlName="orderDate"> -->
        </div>
      </form>
    </div>

    <div class="btn_payments">
      <button type="submit" class="btn btn-warning w-100" (click)="goToPaymentMomo()">Pay Momo</button>
      <button type="submit" class="btn btn-warning w-100" (click)="goBackOrder()">Back to your order</button>
    </div>
  </div>

  <div class="container_list">
    <div class="container-filter">

      <!-- Select location -->
      <div class="search_location">
        <tui-combo-box tuiTextfieldSize="s" class="b-form" [(ngModel)]="locationValue"
          (ngModelChange)="onLocationChange()" [tuiTextfieldCleaner]="true">
          Select your branch
          <input tuiTextfield (input)="locationValue" />
          <tui-data-list-wrapper *tuiDataList [items]="locationList"></tui-data-list-wrapper>
        </tui-combo-box>
      </div>

      <!-- Filter -->
      <div class="filter">
        <button *ngFor="let person of persons" tuiButton size="s" type="button" appearance="custom" class="filter-table"
          [ngClass]="{ 'active': person.isActive }" (click)="filterTable(person.seats)">
          {{ person.seats }}
        </button>
      </div>
    </div>
    <div class="table_list">
      <div (click)="selectTable(table.tableId)" class="table" *ngFor="let table of filteredTables">
        <tui-avatar class="t-image" fallback="tuiIconUserLarge" new class="tui-space_left-3 avatar"
          [avatarUrl]="table.status ? havebooked : havenotbook"></tui-avatar>
        <p class="table-number">{{ table.tableName }}</p>
      </div>
    </div>
  </div>
</div>