

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nanum+Gothic+Coding&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&display=swap');
.container {
    width: 100%;
    height: auto-fit;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.p1 {
    position: relative;
}

.image {
    width: 100%;
    height: 535px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: white;
    font-size: 20px;
    .text_header {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
}

.location {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    position: relative;

    h3 {
        
            font-weight: 700; 
            font-size: 22px; 
            color: rgba(255, 255, 255, 0.9); 
            text-align: center; 
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
            padding: 10px; 
            position: absolute;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            z-index: 1; 
            margin: 0; 
            line-height: 1; 
        
        
        
                
    }

    .Detail {
        width: 8rem;
        height: 40px;
        font-weight: 700;
        font-size: medium;
        background: none;
        color: white;
        border: 3px solid white;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}