<div class="container">
    <div class="header">
        <h1 class="text_header">CURST GOURMET</h1>
    </div>
    <div class="location">
        <div class="p1">
            <h3>Curst Gourmet Nguyễn Thị Minh Khai</h3>
            <button class="Detail"(click)="detail()"> View Detail</button>
        </div>
        <div class="p2">
            <h3>Curst Gourmet Nguyễn Thị Thập</h3>
            <button class="Detail"(click)="detail()"> View Detail</button>
        </div>
        <div class="p3">
            <h3>Curst Gourmet Ngô Đức Kế</h3>
            <button class="Detail"(click)="detail()"> View Detail</button>
        </div>
        <div class="p4">
            <h3>Curst Gourmet Trường Sơn</h3>
            <button class="Detail"(click)="detail()"> View Detail</button>
        </div>
        <div class="p5">
            <h3>Curst Gourmet Trường Sơn</h3>
            <button class="Detail"(click)="detail()"> View Detail</button>
        </div>
        <div class="p6">
            <h3>Curst Gourmet Trần Hưng Đạo</h3>
            <button class="Detail"(click)="detail()"> View Detail</button>
        </div>
    </div>

    

</div>