<div class="container">
    <div class="wrapper">
        <form>
            <h2>Booking Table</h2>
<div class="container_name">
    <div class="input-field">
        <input type="text" required>
        <label> First Name</label>
    </div>
    <div class="input-field">
        <input type="text" required>
        <label> Last Name</label>
    </div>
</div>
<div class="container_name">
    <div class="input-field">
        <input type="text" required>
        <label> Date</label>
    </div>
    <div class="input-field">
        <input type="text" required>
        <label> Time</label>
    </div>
</div>
            
            <div class="input-field">
                <input type="text" required>
                <label> Address</label>
            </div>
            
            <div class="container_number">
                <label> Number of People</label>
                <div id="a" class="input-field">
                    
                    <select name="numberOfPeople" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                      </select>
                    
                </div>
            </div>
            
        </form>
    </div>
</div>
