.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-table {
    width: 50%;
    height: 100%;
    border-left: 0.5px solid rgb(180, 180, 180);
    border-right: 0.5px solid rgb(180, 180, 180);

    .container-filter {
        width: 100%;
        display: flex;
        flex-direction: column;

        .address {
            display: flex;
            width: 200px;
            margin: 1rem;
        }
    
        .filter {
            display: flex;
            flex-direction: row;

            .filter-table {
                display: flex;
                flex-direction: row;
                margin-left: 1rem;
                margin-bottom: 1rem;
                border-radius: 10px;
                border:1px solid rgb(209, 209, 209); /* Set default background color */
              }
              
              .filter-table.active {
                border: 2px solid var(--tui-primary);

              }
        }
    }

    


    .tables {
        width: 100%;
        height: 80%;
        margin: auto;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
        .table {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 1.5rem;
        }
    }
}

.line {
    width: 100%;
    height: 0.5px;
    background-color: rgb(180, 180, 180);
}

.container-detail_table {
    width: 20%;
    height: 100%;
    border-right: 0.5px solid rgb(180, 180, 180);
    // border: 2px solid #ebdd94;
    // padding: 50px;
    // backdrop-filter: blur(10px);
    // -webkit-backdrop-filter: blur(9px);


    .container_name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }


    .input-reservation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem;
    }

    .input-client {
        margin: 1rem;
    }

    .lable-reservation {
        font-size: 14px;
        font-weight: normal;
    }
}



.t-image ng-star-inserted {
    width: 50% !important;
    height: 50% !important;
    object-fit: cover;
}

.avatar {
    box-shadow: var(--tui-shadow);
    background: transparent;
    border: 1px solid;
    height: 150px !important;
    width: 150px !important;

    &:hover {
        box-shadow: var(--tui-shadow-hover);
    }
}

.input {
    width: 150px !important;
}
.detail_save{
    display: flex;justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.btn_save {
    margin: 1rem;
    display: flex;
    justify-content: flex-end;

}

.save {
    display: flex;
    justify-content: center;
    font-size: 14px !important;
    border-radius: 5px;
    width: 60px !important;
    height: 35px !important;
    color: white !important;
    font-weight: 400 !important;
    background-color: var(--tui-primary);

}