<div class="container">
  <div class="container-table">
    <h2 style="margin-left: 1rem; margin-top: 1rem;">Table Reservation</h2>
    <div class="container-filter">

      <!-- Select location -->
      <div class="search_location">
        <div *ngIf="item !== null">
          <tui-combo-box tuiTextfieldSize="s" class="b-form" [(ngModel)]="item.name"
            (ngModelChange)="onItemNameChange()" [tuiTextfieldCleaner]="true">
            Select your branch
            <input tuiTextfield (input)="item.name" />
            <tui-data-list-wrapper *tuiDataList [items]="locationList"></tui-data-list-wrapper>
          </tui-combo-box>
        </div>
        <div *ngIf="item === null">
          <tui-combo-box tuiTextfieldSize="s" class="b-form" [(ngModel)]="locationValue"
            (ngModelChange)="onLocationChange()" [tuiTextfieldCleaner]="true">
            Select your branch
            <input tuiTextfield (input)="locationValue" />
            <tui-data-list-wrapper *tuiDataList [items]="locationList"></tui-data-list-wrapper>
          </tui-combo-box>
        </div>

      </div>

      <!-- Filter -->
      <div class="filter">
        <button *ngFor="let person of persons" tuiButton size="s" type="button" appearance="custom" class="filter-table"
          [ngClass]="{ 'active': person.isActive }" (click)="filterTable(person.seats)">
          {{ person.seats }}
        </button>
      </div>
    </div>

    <!-- TableList -->
    <div class="tables">
      <div (click)="selectTable(table.tableId, table)" class="table" *ngFor="let table of filteredTables">
        <tui-avatar class="t-image" fallback="tuiIconUserLarge" new class="tui-space_left-3 avatar"
          [avatarUrl]="table.status ? havebooked : havenotbook"></tui-avatar>
        <p class="table-number">{{ table.tableName }}</p>
      </div>
    </div>

  </div>


  <div class="container-detail_table">
    <div class="detail_save">
      <p style="font-size: 14px; font-weight: bold; margin: 1rem;">Reservation Details</p>

      <div class="btn_save">
        <button class="save" appearance="custom" tuiButton tuiHintDirection="top" type="button"
          (click)="createBookingTable_showDialog()">Save</button>
      </div>

      <!-- Dialog - Lưu món -->
      <!-- <ng-template let-observer [tuiDialogOptions]="{label: 'Do you want to prepare the dish in advance? ', size: 's'}"
        [(tuiDialog)]="open1">
        <form [formGroup]="exampleForm" (ngSubmit)="observer.complete()">
          <p>set 1</p>
          <p>
            <button tuiButton type="submit" (click)="createBookingTable_showDialog()">
              Yes
            </button>
            <button appearance="secondary" style="margin-left: 1rem;" tuiButton type="submit"
              (click)="createBookingTable_showDialog()">
              No
            </button>
          </p>
        </form>
      </ng-template> -->

      <!-- Dialog - Đặt cọc -->
      <ng-template let-observer [tuiDialogOptions]="{label: 'Notification', size: 's'}" [(tuiDialog)]="open2">
        <form [formGroup]="exampleForm" (ngSubmit)="observer.complete()">
          <p>We apologize for our restaurant's regulations. We cannot guarantee the customer's ability to sit without a
            sewer account. If customers want to be sure to reserve this table, they must order a box.
          </p>
          <tui-input formControlName="exampleControl">
            100.000 VND
          </tui-input>

          <p>
            <button tuiButton type="submit" (click)="createBookingTable()">
              Deposit
            </button>
            <button appearance="secondary" style="margin-left: 1rem;" tuiButton type="submit"
              (click)="createBookingTable()">
              No
            </button>
          </p>
        </form>
      </ng-template>

      <!-- Dialog - Đặt bàn thành công -->
      <ng-template let-observer [tuiDialogOptions]="{label: 'Thanks for your reservation!', size: 's'}"
        [(tuiDialog)]="open3">
        <form [formGroup]="exampleForm" (ngSubmit)="observer.complete()">
          <p>Your seat has been confirmed and please arrive on time.</p>
          <p>
            <button tuiButton type="submit">
              Done
            </button>
          </p>
        </form>
      </ng-template>
    </div>

    <form [formGroup]="bookingTable">
      <div class="input-reservation">
        <label class="label-reservation">Table Number</label>
        <tui-input tuiTextfieldSize="m" class="input" formControlName="tableId" [tuiTextfieldCleaner]="true">
          Table
          <input tuiTextfield type="text" />
        </tui-input>
      </div>

      <!-- Reservation Date -->
      <div class="input-reservation">
        <label class="label-reservation">Reservation Date</label>
        <tui-input-date class="input" tuiTextfieldSize="m" formControlName="date">Date</tui-input-date>
      </div>

      <!-- Reservation Time -->
      <div class="input-reservation">
        <label class="label-reservation">Reservation Time</label>
        <tui-input-time formControlName="time" [items]="time" class="input" tuiTextfieldSize="m"
          [readOnly]="!activateDropdown" [tuiTextfieldCleaner]="true">Time</tui-input-time>
      </div>

      <!-- Pax Number -->
      <div class="input-reservation">
        <label class="label-reservation">Pax Number</label>
        <tui-select class="input" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true" formControlName="numberofPeople">
          <tui-data-list-wrapper *tuiDataList [items]="taxNumberOptions"></tui-data-list-wrapper>
        </tui-select>
      </div>

      <!-- <div class="checkbox">
        <label class="label-checkbox">Đặt món</label>
        <tui-checkbox formControlName="setdishes" class="tui-space_bottom-3"></tui-checkbox>
      </div> -->

      <div class="line"></div>
      <p style="font-size: 14px; margin: 1rem; font-weight: bold;">Client Details</p>

      <!-- Full Name -->
      <div class="input-client">
        <label class="label-client">Full Name</label>
        <tui-input tuiTextfieldSize="m" class="b-form" formControlName="name" [tuiTextfieldCleaner]="true">
          Name
          <input tuiTextfield type="text" />
        </tui-input>
        <tui-error formControlName="name" [error]="[] | tuiFieldError | async"></tui-error>
      </div>

      <!-- Phone Number -->
      <div class="input-client">
        <label class="label-client">Phone Number</label>
        <tui-input-phone countryCode="+84" tuiTextfieldSize="m" class="b-form" formControlName="phone"
          [tuiTextfieldCleaner]="true">
          Phone
          <input tuiTextfield type="text" />
        </tui-input-phone>
      </div>
    </form>
    <!-- Table Number -->
  </div>
</div>