<div class="container">
    <div class="container-order">
        <div *ngFor="let category of categories">
            <h2 *ngIf="category.cId === 'category_1'" style="margin-left: 1rem; margin-top: 1rem;">
                {{category.nameCategory}}</h2>
        </div>
        <div class="dishes">
            <div class="dish" *ngFor="let dish of dishList">
                <div *ngIf="dish.category.cId === 'category_1'" >
                    <div class="card_dish" tuiCardMedium tuiSurface="flat">
                        <img [src]="dish.image" tuiCardMedia>
                        <h2 tuiTitle>
                            {{dish.nameDish}}
                            <span tuiSubtitle>{{dish.price}}</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bill">
        <p id="content_1">Your Order</p>
        <div class="bill_item">
            <form class="b-form" [formGroup]="testForm">
                <label [tuiLabel]="label1">
                    <tui-input formControlName="testValue" nativeId="uniqueId" tuiTextfieldSize="m"
                        [tuiTextfieldLabelOutside]="true">
                        0,00
                    </tui-input>
                </label>
                <ng-template #label1>
                    <p id="content_2">Name</p>
                </ng-template>
            </form>
            <form class="b-form" [formGroup]="testForm">
                <label [tuiLabel]="label2">
                    <tui-input formControlName="testValue" nativeId="uniqueId" tuiTextfieldSize="m"
                        [tuiTextfieldLabelOutside]="true">
                        0,00
                    </tui-input>
                </label>
                <ng-template #label2>
                    <p id="content_2">Quantity</p>
                </ng-template>
            </form>
            <form class="b-form" [formGroup]="testForm">
                <label [tuiLabel]="label3">
                    <tui-input formControlName="testValue" nativeId="uniqueId" tuiTextfieldSize="m"
                        [tuiTextfieldLabelOutside]="true">
                        0,00
                    </tui-input>
                </label>
                <ng-template #label3>
                    <p id="content_2">Price</p>
                </ng-template>
            </form>
            <form class="b-form" [formGroup]="testForm">
                <label [tuiLabel]="label4">
                    <tui-input formControlName="testValue" nativeId="uniqueId" tuiTextfieldSize="m"
                        [tuiTextfieldLabelOutside]="true">
                        0,00
                    </tui-input>
                </label>
                <ng-template #label4>
                    <p id="content_2">Total Price</p>
                </ng-template>
            </form>
            <div class="button_1">
                <button appearance="primary" tuiButton>
                    <p>Pay</p>
                </button>
            </div>
        </div>
    </div>
</div>