<div class="container">
    <div class="alert alert-warning text-center p-5 h2" *ngIf="items.length==0" >
        You have not selected any products yet
      </div>
      <table id="cart" class="table table-bordered" *ngIf="items.length>0" >
        <caption align="top" class="h3">YOUR CART</caption>
        <tr> <th>Food's name</th> <th>Price </th> <th>Quantity</th>  <th>Into money </th> </tr>
        <tr *ngFor="let item of items" >
         <td> {{ item.nameDish |uppercase }}</td>
         <td> {{item.price}} $</td>
         <td><input [(ngModel)]="item.quantity" min="1" type="number" class="form-control"> </td>
         <td> {{item.price*item.quantity }} $</td>
         <td><button (click)="removeFromCart(item.dId)">Remove</button></td>
        </tr>
        <tr> 
         <th colspan="2"> Total Quantity: {{ totalQuantity() }} </th>
         <th colspan="2"> Total Price: {{ totalAmount()}} $ </th>
        </tr>
        <tr> 
         <td colspan="2"> </td>
         <td colspan="2"> <a class="btn btn-warning w-100" (click)="pay()"> Pay</a> </td>
         <td colspan="2"> <a class="btn btn-warning w-100" (click)="goBack()"> Back to Menu</a> </td>
        </tr>
      </table>
</div>