.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10%;

}

.carousel {
    width: 100%;
    height: 90%;

}

.container-dish {
    width: 50%;
    height: 100%;
    border-left: 0.5px solid rgb(180, 180, 180);
    border-right: 0.5px solid rgb(180, 180, 180);

    .title {
        justify-content: center;
        align-items: center;
        text-align: center;

        .category_title {
            font-size: 1.5rem;
            font-weight: 500;
            margin: 1rem;

        }
    }

    .dishs {
        width: auto;
        height: auto;
        margin: auto;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));

        .dish {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 1.5rem;
            margin-bottom: 1.5rem;
            border: 0.5px solid rgb(209, 209, 209);
            border-radius: 8px;

            .btn {
                width: 30px;
                height: 30px;
                background-color: aqua;
            }

            .dish-img {
                width: 100%;
                height: 80px;
                border-radius: 8px 8px 0 0;
                object-fit: cover;
            }
            .input_quantity{
                border-radius: 20px;
            }
        }
    }

}

.line {
    width: 100%;
    height: 0.5px;
    background-color: rgb(180, 180, 180);
}

.container-detail_payment {
    width: 20%;
    height: 100%;
    border-right: 0.5px solid rgb(180, 180, 180);
    // border: 2px solid #ebdd94;
    // padding: 50px;
    // backdrop-filter: blur(10px);
    // -webkit-backdrop-filter: blur(9px);


    .container_name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }


    .input-payment {

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem;

        .b-form {
            width: 100%;
        }
    }

    .input-client {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem;

        .b-form {
            width: 100%;
        }
    }

    .lable-payment {
        font-size: 14px;
        font-weight: normal;
    }
}



.t-image ng-star-inserted {
    width: 50% !important;
    height: 50% !important;
    object-fit: cover;
}

.input {
    width: 150px !important;
}

.detail_save {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.btn_save {
    margin: 1rem;
    display: flex;
    justify-content: flex-end;

}

.btn_add_minus {
    width: 100%;
    height: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save {
    display: flex;
    justify-content: center;
    font-size: 14px !important;
    border-radius: 5px;
    width: 60px !important;
    height: 35px !important;
    color: white !important;
    font-weight: 400 !important;
    background-color: var(--tui-primary);

}