<div class="container">
    <div class="container-main">
        <form [formGroup]="addDishForm">
            <div class="container-dish-detail">
                <div class="card">
                    <h2>Dish Detail</h2>
                    <div class="input-dish">
                        <label class="label-client">Dish Code</label>
                        <tui-input tuiTextfieldSize="m" class="b-form" formControlName="dId" [tuiTextfieldCleaner]="true">
                            Enter Code
                            <input tuiTextfield type="text" />
                        </tui-input>
                    </div>
                    <div class="input-dish">
                        <label class="label-client">Product Name</label>
                        <tui-input tuiTextfieldSize="m" class="b-form" formControlName="nameDish"
                            [tuiTextfieldCleaner]="true">
                            Enter Product Name
                            <input tuiTextfield type="text" />
                        </tui-input>
                    </div>
                    <div class="input-dish">
                        <label class="label-client">Description</label>
                        <tui-input tuiTextfieldSize="m" class="b-form" formControlName="description"
                            [tuiTextfieldCleaner]="true">
                            Enter Description
                            <input tuiTextfield type="text" />
                        </tui-input>
                    </div>
    
                    <div class="input-dish">
                        <label class="label-client">Category</label>
                        <select class="category" formControlName="_id">
                            <option *ngFor="let category of categories" [value]="category._id">
                                {{ category.nameCategory }}
                            </option>
                        </select>
                    </div>
    
                    <div class="input-dish">
                        <label class="label-client">Quantity</label>
                        <tui-input tuiTextfieldSize="m" class="b-form" formControlName="quantity"
                            [tuiTextfieldCleaner]="true">
                            Enter Quantity
                            <input tuiTextfield type="text" />
                        </tui-input>
                    </div>
    
                    <div class="input-dish">
                        <label class="label-client">Price</label>
                        <tui-input tuiTextfieldSize="m" class="b-form" formControlName="price" [tuiTextfieldCleaner]="true">
                            Enter Price 
                            <input tuiTextfield type="text" />
                        </tui-input>
                    </div>
    
    
                </div>
                <div class="upload">
                    <h2>Upload Image</h2>
                    <div class="drop_box">
                        <header>
                            <h4>Select File here</h4>
                        </header>
                        <p>Files Supported: PNG, JPG</p>
                        <input type="file" accept="image/*" style="display: none" (change)="onFileSelected($event)" #fileInput formControlName="image" />
                        
                        <div class="img-file" *ngIf="file">
                            <img class="img" [src]="selectedImage" alt="Selected Image" />
                        </div>
                        
                        <button class="btn" (click)="fileInput.click()">Choose File</button>
                    </div>
                    <button appearance="secondary" style="margin-left: 1rem;" tuiButton type="submit" (click)="createDish()">
                        Create
                    </button>
                </div>
                
                
            </div>
            
        </form>


    </div>

</div>