<div class="container">
    <div class="container-main">
        <form [formGroup]="addLocationForm">
            <div class="container-location-detail">
                <div class="card">
                    <h2>Create Location</h2>
                    <div class="input-location">
                        <label class="label-client">Location Code</label>
                        <tui-input tuiTextfieldSize="m" class="b-form" formControlName="locationId"
                            [tuiTextfieldCleaner]="true">
                            Enter Code
                            <input tuiTextfield type="text" />
                        </tui-input>
                    </div>
                    <div class="input-location">
                        <label class="label-client">Location Name</label>
                        <tui-input tuiTextfieldSize="m" class="b-form" formControlName="name"
                            [tuiTextfieldCleaner]="true">
                            Enter Location Name
                            <input tuiTextfield type="text" />
                        </tui-input>
                    </div>
                    <div class="input-location">
                        <label class="label-client">Address</label>
                        <tui-input tuiTextfieldSize="m" class="b-form" formControlName="address"
                            [tuiTextfieldCleaner]="true">
                            Enter Address
                            <input tuiTextfield type="text" />
                        </tui-input>
                    </div>
                    <div class="input-location">
                        <label class="label-client">Phone Number</label>
                        <tui-input tuiTextfieldSize="m" class="b-form" formControlName="phone"
                            [tuiTextfieldCleaner]="true">
                            Enter phone number
                            <input tuiTextfield type="text" />
                        </tui-input>
                    </div>
                </div>
                <div class="upload">
                    <!-- upload -->
                    <div class="card">
                        <h2>Upload Image</h2>
                        <div class="drop_box">
                            <tui-input style="width: 300px; margin-bottom: 1rem;" tuiTextfieldSize="m" class="b-form" formControlName="image"
                            [tuiTextfieldCleaner]="true">
                            Image
                            <input tuiTextfield type="text" />
                        </tui-input>
                            <p>Files Supported: PNG ,JPG</p>
                            <input type="file" accept="image/*" style="display: none" (change)="onFileSelected($event)"
                                #fileInput formControlName="image" />

                            <button class="btn" (click)="fileInput.click()">Choose File</button>
                            <div class="img-file" *ngIf="file">
                                <img [src]="selectedImage" alt="Selected Image" style="width: 120px;height: 120px; margin-top: 1rem;" />
                            </div>
                        </div>
                        <div class="btn-create-update">
                            <button appearance="secondary" style="margin-left: 1rem;" tuiButton type="submit"
                            (click)="createLocation()">
                            Create
                        </button>
                        <button appearance="secondary" style="margin-left: 1rem;" tuiButton type="submit"
                            (click)="onUpdateLocation()">
                            Update
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container-remove">
                <div class="card-list">
                    <h2>Location List</h2>
                    <table class="location-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Image</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let location of locationList">
                                <td>{{ location.name }}</td>
                                <td>{{ location.phone }}</td>
                                <td>{{ location.address }}</td>
                                <td><img [src]="location.image.urls" alt="Location Image"
                                        style="width: 80px;height: 80px;" /></td>
                                <td>
                                    <div class="btn_edit_remove">
                                        <button class="btn_remove" (click)="updateLocation(location.locationId)">Edit</button>

                                        <button class="btn_remove" (click)="removeLocation(location.locationId)">Remove</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>