<div class="container">
  <div class="dish_image">
    <div id="image" *ngFor="let dish of dishList">
      <img class="image_featured" *ngIf="selectDish.dId === dish.dId" [src]="dish.image.urls" alt="">
    </div>
  </div>
  <div class="dish_info" *ngIf="selectDish">
    <div class="info">
        <div id="info_1">
          <h2>{{selectDish.nameDish}}</h2>
          <h2>{{selectDish.price}}</h2>
        </div>
        <div id="desscription">
          <p>{{selectDish.description}}</p>
        </div>    
      </div>
    <div class="button">
      <div id="btn_add">
        <button class="btn" (click)="addtoCart(dishOrder)" >Add to cart</button>
      </div>
      <div id="btn_back">
        <button class="btn" (click)="goBack()">Back</button>
    </div>
  </div>
</div>