<div class="container">
  <div class="dish_image">
    <div id="image">
      <img class="image_featured" [src]="item.image.urls" alt="">
    </div>
  </div>
  <div class="dish_info">
    <div class="info">
      <div id="info_1">
        <h2>{{item.nameDish}}</h2>
        <h2>{{item.price}}</h2>
      </div>
      <div id="desscription">
        <p>{{item.description}}</p>
      </div>
    </div>
    <div class="button">
      <button class="btn btn-warning w-100" (click)="addtoCart(item)">Add to cart</button>
      <button class="btn btn-warning w-100" (click)="goBack()">Back</button>
    </div>
  </div>