<div class="container">
    <div class="payment">
      <table id="order" class="table table-bordered" *ngIf="items.length>0">
        <tr>
          <th class="id_order">ID Order</th>
          <th class="total_quantity">Total Quantity </th>
          <th class="total_price">Total Price </th>
        </tr>
        <tr>
          <td class="order">
            <div class="thumb_cart">
          <th class="total_content" colspan="2">{{orderItem.orderId}}</th>
    </div>
    </td>
    <td class="tt_quantity">
      <div class="thumb_cart">
    <th class="total_content" colspan="2">{{ totalQuantity() }} </th>
  </div>
  </td>
  <td class="tt_price">
    <div class="thumb_cart">
  <th class="total_content" colspan="2">{{ totalAmount().toLocaleString("vn-de")}} VND </th>
  </div>
  </td>
  </tr>
  </table>
  </div>
  <div class="item" *ngIf="items.length > 0">
    <table id="cart" class="table table-bordered" *ngIf="items.length>0">
      <tr>
        <th class="product">Food's name</th>
        <th class="quantity">Quantity</th>
      </tr>
      <tr *ngFor="let item of items">
        <td class="product_info">
          <div class="thumb_cart">
            <img class="image" [src]="item.image.urls" alt="image" width="100" height="100">
            <span class="nameDish">{{ item.nameDish |uppercase }}</span>
            <span class="price">{{(item.price).toLocaleString("vn-de")}} VND</span>
          </div>
        </td>
        <td class="quantity_td">
          <span id="quantity">{{item.quantity}}</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="qr_code">
    <!-- <div class="title_Qr">
      <h2>
        You can scan this QR code to pay with Momo
      </h2>
    </div>
    <div class="image_qr" *ngFor="let paymentimage of paymentImageList">
      <div *ngIf="paymentimage.paymentImageId === 'payment_1'">
        <img [src]="paymentimage.paymentImage.urls" alt="{{paymentimage.paymentImage.urls}}" width="400" height="400">
      </div>
    </div> -->
    <div class="check_out">
      <span>
        Or you can pay with this phone number: 0393054839
      </span>
      <!-- <span>
        Please re-enter the amount to pay.
      </span>
      <div class="input-container">
        <input type="text" class="from-input-total" formControlName="inputTotal" [placeholder]="0">
        <span class="currency-suffix">VNĐ</span>
      </div> -->
    </div>
    <div class="button">
      <button class="btn btn-warning w-100" (click)="paymentmomo()">
        Payment
      </button>
      <button class="btn btn-warning w-100" (click)="goBackPayment()">
        Back to your payment
      </button>
    </div>
  </div>
  </div>