<!-- detail.component.html -->
<div class="container">
    <div class="header">
        <h1 class="text_header">CURST GOURMET</h1>
    </div>
    <div *ngFor="let location of locationList" class="detail">
        <h2>Name: {{ location.name}}</h2>
        <h2>Phone: {{ location.phone }}</h2>
        <h2>Address: {{ location.address }}</h2>
        <div class="image-gallery">
            <div class="image-container" *ngFor="let img of location.image.urls">
                <img class="image_featured" [src]="img" alt="">
            </div>
        </div>
    </div>
</div>
