<div class="container">
    <div *ngIf="selectedLocation" class="title">
        <h1 class="text">{{ selectedLocation.name }}</h1>
    </div>
    <div class="location_detail">
        <div class="image"></div>
        <div class="container_detail">
            <div class="detail">
                <div *ngIf="selectedLocation">
                    <h2 class="Access"> Access</h2>
                    <!-- <h2 class="Name"> {{ selectedLocation.name }}</h2> -->
                    <h2 class="phone">Phone: {{ selectedLocation.phone }}</h2>
                    <h2 class="address">Address: {{ selectedLocation.address }}</h2>
                </div>
                <div *ngIf="!selectedLocation" class="detail">Location not found.</div>
            </div>
        </div>
    </div>
</div>
