@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nanum+Gothic+Coding&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&display=swap');
.container {
    width: 100%;
    height: 100%;
}

.title {
    width: 100%;
    height: 25%;
    background-color:white;
    font-size: 25px;
    display: flex;
    font-weight: 200;
    justify-content: center;
    align-items: center;        font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    .text {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        }
}

.location_detail {
    width: 100%;
    height: 75%;
    display:flex;
    flex-direction: row;
    border: solid 1px black;

    .location_image {
        width: 55%;
        height: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        #image{
            width: 100%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;

            .image_featured {
                width: 900px;
                height: 500px;
                object-fit: cover;
            }
        }
    }

    .container_detail {
        width: 45%;
        height: 100%;
        background-color: white;
        display: flex;
        font-size: 10px;
        align-items: center;
        justify-content: center;
       .Access{
        font-family: "Dancing Script", cursive;
        font-size: 80px;
        font-weight: 400;

       }
       .address{
        font-family: "Dancing Script", cursive;
        font-size: 20px;
        font-weight: 500;
       }
       .phone{
        font-family: "Dancing Script", cursive;
        font-weight: 500;
        font-size: 20px;
       }
        .detail {
            width: 550px;
            height: 400px;
            margin-top: 3rem;
            margin-right: 7rem;
            margin-left: 4rem;
            
        }
    }
}


.btn_booking {
    display: flex;
    justify-content: center !important;
    margin-top: 2rem;
    
}
.table_booking {
    display: flex;
    text-align: center;

    width: auto;
    border-radius:5px;
    border: 2px solid white;
}